<template>
    <div>
        <section class="container">
        <div class="row">
            <div class="col-md-4">
            <h3 style="font-family: Lucida Console, Monaco, monospace; color: #4e6780">Qomas</h3>
            <p style="font-family: Georgia;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-info" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
            <h3 style="font-family: Frutiger Neue W02 Book,Arial,Helvetica,sans-serif; color: #4e6780">Plannd</h3>
            <p style="font-family: Georgia;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-info" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
            <h3 style="font-family: Lucida Console, Monaco, monospace; color: #4e6780">Voola</h3>
            <p style="font-family: Georgia;">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-info" href="#" role="button">View details »</a></p>
            </div>
        </div>
        <hr>
        </section>
    </div>
</template>

<script>
    export default {
        props: [],
        data() {
            return {
                name: "hshs"
            }
        }
    }
</script>