<template>
    <div>
        <!-- TODO: show previous articles by current-user, comments, views/likes/dislikes, collapsable  editor -->
        <div class="row">
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="site-heading">
                <h2 style="font-family: Lucida Console, Monaco, monospace; color: #76842d" >Create Content</h2>
                <p style="font-family: Lucida Console, Monaco, monospace; color: #74756c">And Share Your Knowledge</p>
                </div>
                <br>
            </div>
            <div class="col-sm-8 col-lg-8 col-md-8">
                <button class="btn cbtn pull-right mt-4" @click="saveArticle">Publish</button>
                <button class="btn cbtn pull-right ml-2 mr-2 mt-4" @click="saveArticle">Save</button>
                <button class="btn cbtn pull-right mt-4" @click="saveArticle">Create</button>
            </div>
        </div>

        <div class="form-group">
            <!-- <label for="exampleInputEmail1">Title</label> -->
            <input v-model=title type="text" class="form-control" name="title" placeholder="Add Title">
            <small id="emailHelp" class="form-text text-muted">This will be the title of your article.</small>
        </div>    

        <form ref="artform" enctype="multipart/form-data" method="post" :action=saveTo class="mb-5" style="background-color: #fff">
            <input type="hidden" name="_csrf_token" :value=csrf_token>
            <input type="hidden" name="title">
            <input type="hidden" name="content">
            <input type="hidden" name="article_id">
            <quill-editor
                ref="myQuillEditor"
                v-model="content"
                :options="editorOption"
                @blur="onEditorBlur($event)"
                @focus="onEditorFocus($event)"
                @ready="onEditorReady($event)"
            />
        </form>
    </div>
</template>

<script>
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import Quill from 'quill'
import Axios from 'axios'

import { quillEditor } from 'vue-quill-editor'

export default {
    props: ["save-to", "_content", "_article_id", "_title"],
    data () {
      return {
        csrf_token: window.CSRF_TOKEN,
        title: this._title,
        content: this._content,
        editorOption: {
          // Some Quill options...
        }
      }
    },
    components: {
        quillEditor
    },
    methods: {
      onEditorBlur(quill) {
        // console.log('editor blur!', quill)
      },
      onEditorFocus(quill) {
        // console.log('editor focus!', quill)
      },
      onEditorReady(quill) {
        // console.log('editor ready!', quill)
      },
      onEditorChange({ quill, html, text }) {
        // console.log('editor change!', quill, html, text)
        this.content = html
      },
      saveArticle() {
        let form = this.$refs.artform
        form["title"].value = this.title 
        form["content"].value = this.content 
        form["article_id"].value = this._article_id

        form.submit()
      }
    },
    computed: {
      editor() {
        return this.$refs.myQuillEditor.quill
      }
    },
    mounted() {
    //   console.log('this is current quill instance object', this.editor)
    }
};
</script>