<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Devafrica</title>  
    <link rel="icon" type="image/png" href="/images/Devafrica.png"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css" integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script type="text/javascript">
        window.CSRF_TOKEN = "<%= Plug.CSRFProtection.get_csrf_token() %>";
    </script>

  </head>
  <body style="background-color: #eaeae1">
    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav" style="color: #8ae28a">
      <div class="container">
        <a class="navbar-brand" href="<%= Routes.page_path(@conn, :index) %>">Dev.africa</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" 
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="<%= Routes.page_path(@conn, :index) %> ">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= Routes.page_path(@conn, :about) %> ">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= Routes.page_path(@conn, :jobs) %> ">Tools</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= Routes.page_path(@conn, :contact) %>">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= Routes.page_path(@conn, :blog) %> ">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-success" href="<%= Routes.page_path(@conn, :write) %>">Creator</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <main role="main"> 
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>

    <!-- Footer -->
    <footer>
      <p class="copyright text-muted">Copyright &copy; Devafrica 2020</p>
    </footer>
    
    <!-- Plugins and scripts required by this views -->
    <%= render_existing @view_module, ~s(#{Path.basename(@view_template, ".html")}_scripts.html), assigns %>
  </body>
</html>
