  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/images/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Man must explore, and this is exploration at its greatest</h1>
            <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
            <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on August 24, 2019</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Post Content -->
  <article style="background-color: #fff;">
    <div class="container" >
        <%= DevafricaWeb.PageView.renderer %>
    </div>
  </article>
  <hr>