<header class="masthead" style="background-image: url('/images/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
            <h2 style="font-family: Lucida Console, Monaco, monospace; color: #92c772">Devafrica Blog</h2>
            <p style="font-family: Lucida Console, Monaco, monospace;">Sharing Knowledge</p>
            </div>
        </div>
        </div>
    </div>
</header>
<br>
<section class="container">
    <div class="jumbotron text-center hoverable p-4">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 offset-md-1 mx-3 my-3">
            <!-- Featured image -->
            <div class="view overlay">
                <img src="/images/elx1.png" class="img-fluid" alt="Sample image for first version of blog listing">
                <a>
                <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-7 text-md-left ml-3 mt-3">
            <!-- Excerpt -->
            <a href="#!" class="green-text">
                <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i>Data Processing</h6>
            </a>

            <h4 class="h4 mb-4">A data pipeline with Elixir/Phoenix/Ecto</h4>

            <p class="font-weight-normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
            <p class="font-weight-normal">by <a><strong>Steve Opiyo</strong></a>, 17/08/2020</p>

            <a href="<%= Routes.page_path(@conn, :read) %> " class="btn btn-success">Read more</a>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>

    <div class="text-center hoverable p-4">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 offset-md-1 mx-3 my-3">
            <!-- Featured image -->
            <div class="view overlay">
                <img src="/images/rust1.png" class="img-fluid" alt="Sample image for first version of blog listing">
                <a>
                <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-7 text-md-left ml-3 mt-3">
            <!-- Excerpt -->
            <a href="#!" class="green-text">
                <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> Programming</h6>
            </a>

            <h4 class="h4 mb-4">Rust: No garbage collection</h4>

            <p class="font-weight-normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
            <p class="font-weight-normal">by <a><strong>Thenken Rubum</strong></a>, 13/08/2020</p>

            <a href="<%= Routes.page_path(@conn, :read) %> " class="btn btn-success">Read more</a>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>

    <div class="jumbotron text-center hoverable p-4">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 offset-md-1 mx-3 my-3">
            <!-- Featured image -->
            <div class="view overlay">
                <img src="/images/django.png" class="img-fluid" alt="Sample image for first version of blog listing">
                <a>
                <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-7 text-md-left ml-3 mt-3">
            <!-- Excerpt -->
            <a href="#!" class="green-text">
                <h6 class="h6 pb-1"><i class="fa fa-desktop pr-1"></i> Web Development</h6>
            </a>

            <h4 class="h4 mb-4">Into Django: Query and QuerySet</h4>

            <p class="font-weight-normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
            <p class="font-weight-normal">by <a><strong>Kenneth Mburu</strong></a>, 27/11/2019</p>

            <a href="<%= Routes.page_path(@conn, :read) %>" class="btn btn-success">Read more</a>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
</section>
