<header class="masthead" style="background-image: url('/images/tasking.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
            <h1 class="mt-5" style="color: #d7f53b">Devafrica</h1>
            <span class="subheading">Solutions through data</span>           
            </div>
        </div>
      </div>
    </div>
</header>