<header class="masthead mb-5" style="background-image: url('/images/africa-tech-biz.jpg')">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-8 col-md-12 mx-auto">
            <div class="site-heading">
            <h1>Africa Is Developing<h1>
            <h2 class="" style="color: #d5f5dc; font-family: Lucida Console, Monaco, monospace">
             And We Are Advancing Its Tech Tools</h2>
            <div class="row mt-5">
              <div class="col-md-6 mb-3">
                <a class="btn btn-lg btn-success" href="<%= Routes.page_path(@conn, :contact) %>">Join Us Today </a>          
              </div>
              <div class="col-md-6">
                <a class="btn btn-lg btn-info" href="#monfo">Learn More </a>          
              </div>
            </div> 
            </div>
        </div>
      </div>
    </div>
</header>

<!-- More Info -->
<div id=monfo>
  <info></info>
</div>
