<%# <br><br><br> %>
<header style="background-color: #756969">
    <br><br><br>
</header>
<br><br>

<div class="container pt-4" id=writer> 
  <writer 
    save-to="<%= Routes.page_path(@conn, :save_article) %>"
    _title="<%= @title %>"
    _content="<%= @content %>"
    :_article_id="<%= @article_id %>"
  ></writer>
</div>

<hr>
