/* This file is for your main application css. */
@import "./blog.css";
@import "./dashboard.css";
// @import "./_post.scss";
// $fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
// @import '~@fortawesome/fontawesome-free/scss/solid';
// @import '~@fortawesome/fontawesome-free/scss/regular';
@import "~bootstrap/scss/bootstrap";


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.cbtn {
  color: #fff;
  border-color:  #68809a;
  background-color: #2d708a;
  font-size: 16px;
  transition: all .7s ease;
  }
button.cbtn:hover { 
  color: #50ef35;
  padding-left: 15px;
  padding-right: 15px;
  transform: scale(1);
  visibility: visible;
}
